* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodoi {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 50px;
  width: auto;
}
.item {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}
.item img {
  width: 100%;
  height: 150px;
  border-radius: 6px;
}
