* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.father {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding: 20px;
}
.item {
  width: 150px;
  height: 130px;
  text-align: center;
}
.item img {
  width: 100%;
  height: 100px;
  border-radius: 6px;
}
