* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #f8f8f8;
  height: auto;
  width: 100%;
  padding: 40px;
  text-align: center;
}
main h2 {
  margin: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.content_item {
  flex: 1;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 14px;
}
img {
  width: 100%;
  height: 150px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.price {
  display: inline-block;
  color: #d1ae7b;
  margin-top: 5px;
}
.content_item:first-child {
  flex: 2;
}
.content_item2 {
  flex: 2;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 14px;
}
