* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.brand {
  color: #d4af37;
  font-size: 32px;
  font-weight: 700;
}
nav {
  display: flex;
  gap: 20px;
}
.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
.header_content {
  flex-wrap: wrap;
  position: relative;
  background-image: url(./bda3e7d064464cd7f2c9fc4b4ee5de38890ed225.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  justify-content: center;
  line-height: 30px;
}
.header_content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.title {
  font-size: 56px;
  margin-bottom: 20px;
}
.box {
  background-color: #d4af37;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 30px;
  size: 18px;
  width: 229px;
  margin: 10px;
  text-align: center;
}
.about {
  display: flex;
  width: 100%;
  height: 751.5900268554688px;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.about h2 {
  font-size: 48px;
  margin-bottom: 50px;
}
.about_image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.about img {
  width: 300px;
  height: 350px;
  border-radius: 20px;
}
.us {
  width: 100%;
  height: 453px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  padding: 50px;
}
.us h2 {
  color: #d4af37;
  line-height: 50px;
}
footer {
  color: white;
  padding: 30px;
  background-color: black;
  text-align: center;
}
