* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #1e1e1e;
  height: 97px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header h2 {
  color: #d4af37;
}

header nav a {
  color: #dddddd;
  text-decoration: none;
  margin: 15px;
  font-weight: 700;
}

main {
  display: flex;
  background-color: antiquewhite;
  gap: 30px;
}

.content {
  width: 580px;
  height: 776.17px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 15%;
}

.content h3 {
  color: #d4af37;
  font-size: 28px;
  font-weight: 700;
  margin: 10px;
}

.content p {
  padding: 10px;
  text-align: justify;
}

.content .image {
  margin: 10px;
}

.menu .image img {
  width: 100%;
  height: 100%;
}
footer {
  color: white;
  padding: 30px;
  background-color: black;
  text-align: center;
}
